* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0D3859;
}

.miss-h1 {
    color: #0D3859;
}

.about-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.abt-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    animation: fadeInRight;
    animation-duration: 1.5s;
}

.abt-img {
    width: 400px;
    height: 100%;
    border-radius: 10px;
}

.abt-head-img-wrap {
    width: 100%;
}

.abt-head-img {
    width: 88px;
    height: 63px;
    margin: 10px;
    cursor: pointer;
}

.abt-text {
    color: #0D3859;
    font-size: 1.4rem;
    animation: fadeInLeft;
    animation-duration: 1.5s;
}

.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.mission-wrap {
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 22px 9px rgba(226, 226, 226, 0.75);
    -webkit-box-shadow: 0px 0px 22px 9px rgba(226, 226, 226, 0.75);
    -moz-box-shadow: 0px 0px 22px 9px rgba(226, 226, 226, 0.75);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 300px;
    flex-wrap: wrap;
    margin: 20px;
}

.wrap-wrap {
    margin: 20px;
}

.mission-img-wrap {
    width: 140px;
    height: 90px;
    background-color: #44A1E4;
}

.mission-img {
    width: 100%;
    height: 100%;
}

.miss-h4 {
    line-height: 30px;
    font-weight: 500;
}
.why-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.why-hold {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 22px 9px rgba(226, 226, 226, 0.75);
    -webkit-box-shadow: 0px 0px 22px 9px rgba(226, 226, 226, 0.75);
    -moz-box-shadow: 0px 0px 22px 9px rgba(226, 226, 226, 0.75);
    border-radius: 12px;
    width: 250px;
    height: 375px;
    margin: 10px;
}

.why-p {
    text-align: center;
}

.why-h1 {
    color: #0D3859;
    text-align: center;
}

.miss-zig {
    display: none;
}
.meaning{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    background-color: #9EBCEA;
    color: #ffffff;
    border-bottom-left-radius: 50%;
    /* border-bottom-right-radius: 100%; */
}
.meaning-h1{
    color: #ffffff;
}
.meet{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.meet-head{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.meet-bounce-holder{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.meet-img-wrap{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.meet-img:hover{
    animation: pulse; 
    animation-duration: 2s
}
.meet-img{
    width: 310px;
    height: 360px;
}
.meet-img-text{
    margin-top: 15px;
    line-height: 25px;
}
.meet-bounce{
    background-color: #006edc;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    animation: bounce 1.8s, color-transition 30s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition: background-color 2s ease-out;
}
@keyframes smoothbounceball{
    from { transform: translate3d(0, 0, 0);}
    to { transform: translate3d(0, 200px, 0);}
}
.meet-bounce:hover{
    background-color: #44A1E4;
}

@media screen and (max-width: 760px) {

    .about-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .abt-text {
        font-size: small;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
        .abt-text-h{
        display: none; 
      }

    .meaning{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        height: 250px;
        background-color: #9EBCEA;
        color: #ffffff;
        border-bottom-left-radius: 0%;
    }

    .meaning-h1{
        font-size: large;
    }

    .miss-zig {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .wrap-wrap {
        margin: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .mission-wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        width: 250px;
        height: 375px;
    }

    .mission-img-wrap {
        display: none
    }
    
    .miss-h4 {
        font-weight: 500;
    }

   
}
@media screen and (max-width: 380px) {
    .abt-img{
    width: 320px;
    }
    .mission-wrap {
        height: 420px;
    }
}