* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

.Head-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  z-index: 100;
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.head-img {
  width: 88px;
  height: 63px;
  cursor: pointer;
}

.head-links {
  margin: 10px;
  color: #006edc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.head-buttons {
  display: flex;
}

.head-log-button {
  background: transparent;
  border: 2px solid #006edc;
  border-radius: 8px;
  color: #006edc;
  width: 70px;
  margin-right: 10px;
  font-size: small;
  font-weight: 600;
  height: 32px;
}

.head-sign-button {
  background: #006edc;
  border: none;
  color: white;
  border-radius: 8px;
  margin-right: 10px;
  width: 70px;
  font-size: small;
  font-weight: 600;
  height: 32px;
}

.head-link {
  display: none;
}

.Burger {
  display: none;
}

.hid-wrap {
  display: none;
}

@media screen and (max-width: 767px) {
  .head-link {
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
  }

  .head-links {
    display: none;
  }

  .Burger {
    display: flex;
  }

  .hid-wrap {
    border-radius: 4px;
    color: white;
    font-weight: 400;
    line-height: 40px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.48);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
    animation: fadeInRight;
    animation-duration: 0.5s;
    z-index: 100;
    top: 66px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
  }

  .hid {
    border-radius: 12px 0;
    background: #0D3859;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
  }

  .Header-Toggle {
    display: flex;
  }

  .Head-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .head-sign-button {
    display: none;
  }

  .head-log-button {
    display: none;
  }
}

@media screen and (max-width: 376px) {
  .hid {
    border-radius: 4px;
    background: #0D3859;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    position: absolute;
    animation: fadeInRight;
    animation-duration: 0.5s;
    top: 66px;
    left: 257px;
    width: 120px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
  }
}

@media screen and (max-width: 321px) {
  .hid {
    border-radius: 4px;
    background: #0D3859;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.1px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    position: absolute;
    animation: fadeInRight;
    animation-duration: 0.5s;
    top: 66px;
    left: 209px;
    width: 120px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
  }
}