.dash-wrap {
  display: flex;
  background-color: #F5F7F9;
}

.dash-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.side {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  height: 100vh;
  background-color: #1B75BC;
  color: black;
  border: 1.5px solid rgb(223, 222, 222);
}

.side-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.dash-txt {
  line-height: 20px;
  margin-top: 80px;
  width: 100%;
}

.dash-hr {
  border-top: 1px solid #ffffff;
  width: 60px;
}

.dash-img {
  width: 110px;
  height: 80px;
  border-radius: 100%;
}

.dash-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  background-color: #006edc;
}

.user-dash-icons {
  text-decoration: none;
}

.dash-icon-wrap {
  display: flex;
  background-color: white;
  width: 210px;
  height: 90px;
  border-radius: 5px;
  border: 1px solid #006edc;
}

.dash-icon-wrap-holder {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.dash-p {
  text-decoration: none;
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  cursor: pointer;
}

.dash-p:active {
  background-color: #1B75BC;
  color: white;
}

.dash-icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heys {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: start;
  flex-wrap: wrap;
  height: 160px;
}

.heys p {
  font-size: small;
}

.dun {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 78%;
  height: 100%;
  flex-wrap: wrap;
}

.duns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 78%;
  height: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.hey {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100%;
  background-color: #F2F5F9;
}

.user-dash-wrap-lower-wrapped {
  width: 80%;
  height: 300px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.up-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  gap: 10px;
  background-color: #F2F5F9;
  padding: 10px;
  border-radius: 15px;
}

.up-menu-button{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  height: 35px;
  background-color: #006edc;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 800;
}

.up-menu-content {
  /* border: 1px solid #006edc; */
  background-color: #F2F5F9;
  width: 90%;
  max-height: 200px;
  overflow-y: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
}

.up-menu-content-hr {
  height: 100%;
  padding: 0;
  margin-right: 10px;
}

.up-menu-content-wrap {
  background-color: #fff;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 8px;
  border-radius: 15px;
}

.up-menu-p{
  background-color: #fff;
  /* padding: 4px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 210px;
  border-radius: 5px;
  color: #006edc;
  font-weight: 600;
}

.up-menu-hr {
  height: 40px;
}

.profiled-hr{
  height: 50px;
}

.profiled{
  width: 80%;
  background-color: #ffffff;
  border-radius: 8px;
}

.profiled-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profiled-up{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 50%;
}

.profiled-number{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  margin: 20px;
}

.profiled-number-1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.profiled-down{
  width: 50%;
}

.profiled-down-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.profiled-down-content-1{
  display: flex;
  flex-direction: column;
  width: 125px;
  text-align: center;
  line-height: 40px;
}
.divide{
  height: 280px;
}

.profiled-up p{
  color: grey;
}

.user-dash-wrap-lower-wrapped-p{
  color: grey;
}

.profiled-up h1{
  color: #0D3859;
}
.profiled-up-h1{
  color: #0D3859;
}

.profiled-head-text{
  line-height: 32px;
}

.edit{
  margin-bottom: 10px;
  color: white;
  outline: none;
  border: none;
  background-color: #006edc;
  height: 50px;
  width: 120px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
}

.pro-edit{
  margin-bottom: 10px;
  color: white;
  outline: none;
  border: none;
  background-color: #006edc;
  height: 50px;
  width: 140px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 5px;
}

.pro-edit-hold{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}


.this-div {
  display: flex;
}

.app-hist {
  margin: 5px;
}

.hey-wrap-img {
  width: 280px;
}

/* The wave */
* {
  margin: 0px;
  font-family: Raleway;
}

.todo {
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #006edc;
}

.todo-wrap {
  background-color: rgba(255, 255, 255, 0.4);
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  border-radius: 5px;
}

.inputed-holder {
  background-color: white;
  border: 3px solid #006edc;
  height: 50px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 3px 0px 3px;
  border-radius: 5px;
}

.checkbox {
  width: 20%;
}

input {
  width: 90%;
  height: 70%;
  outline: none;
  border: none;
}

.plus-butt {
  font-size: 26px;
  font-weight: 100;
  height: 30px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  border-radius: 10px;
  color: white;
  border: none;
}

.remove-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
}

.Card {
  width: 100%;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}

.Card-holder {

  min-height: auto;
  width: 90%;
  height: 100%;
  padding: 10px;
}

.Appointment {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.texts {
  display: flex;
  flex-direction: column;
  color: rgb(36, 36, 36);
  width: 97.8%;
}

.text1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(36, 36, 36)
}

.wrap {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  margin-top: 15px;
}

.scroll {
  height: 100%;
  overflow-y: auto;
  max-height: 150px;
  background-color: rgba(118, 116, 116, 0.4);
  border-radius: 0px 0px 10px 10px;
}

.card_top {
  background-color: #006edc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.top-parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.status {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Main_cardtop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: black;
  margin-top: 2px;
}

.Burger {
  display: none;
}


@media screen and (max-width: 767px) {
  .side {
    display: none;
  }

  .Burger {
    display: flex;
  }
}

@media screen and (max-width: 426px) {
  .user-Burger {
    background-color: #006edc;
  }

  .duns {
    height: 100%;
    /* width: 100% */
  }
}