.user-dash{
    width: 100%;
    display: flex;
    background-color: #F5F7FA;
}
.user-dash-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.user-dash-wrap{
    width: 78%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-dash-h4{
    margin-top: 10px;
    font-size: x-large;
    font-weight: 800;
    color: #18324F;
}
.user-dash-wrap-upper-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.user-dash-wrap-upper{
    margin: 30px;
    height: 80px;
    color: #006edc;
    background-color: white;
    width: 200px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    border-radius: 8px;
}
.user-dash-wrap-lower-wrapper{
   width: 100%;
}
.user-dash-wrap-lower{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: white;
    border-radius: 8px;
    height: 100px;
    width: 380px;
}
.user-dash-wrap-lower-text{
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-dash-wrap-lower-text p{
    font-size: small;
    font-weight: 500;
}
.user-dash-wrap-lower-img{
    width: 80px;
}