.book{
    width: 100%;
    height: 100%;
}
.book-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
}
.head-img-wrap{
    width: 100%;
}
.calendar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.book-header{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #006edc;
}
.react-calendar {
    width: 100%;
    max-width: 100%;
    background: #006edc;
    color: #ffffff;
    margin: 10px;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 44px;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    color: #ffffff;
    font-size: larger;
    font-weight: 500;
  }
  .react-calendar__navigation button:disabled {
    background-color: #ffffff;
    color: #006edc;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    -webkit-box-shadow: 0px 15px 28px -18px rgba(179,179,179,1);
    -moz-box-shadow: 0px 15px 28px -18px rgba(179,179,179,1);
    box-shadow: 0px 15px 28px -18px rgba(179,179,179,1);
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
  }
  .react-calendar__month-view__days__day--weekend {
    color: yellow;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
  }
  .react-calendar__tile:disabled {
    background-color: #006edc;
    color: #ffffff;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #006edc;
    color: #ffffff;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #006edc;
    color: #ffffff;
  }
  .react-calendar__tile--hasActive {
    background: #76baff;
    color: #006edc;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
    color: #006edc;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #f2f0f0;
    color: #006edc;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #ffffff;
  }
  .react-calendar__navigation__label__labelText{
    color: #ffffff;
    font-size: large;
    font-weight: 600;
  }
  .react-calendar__month-view__days__day{
    color: #ffffff;
    font-weight: 700;
    font-size: small;
  }
  .react-calendar__month-view__days__day--weekend{
    color: yellow;
  }
  .react-calendar__year-view__months__month, .react-calendar__decade-view__years__year{
    color: #1087ff;
  }
  .app-date{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #006edc;
    font-size: large;
    font-weight: 600;
  }
  .time-butts{
    background-color: #006edc;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 85px;
    height: 40px;
    font-weight: 700;
    font-size: medium;
    color: #ffffff;
    margin: 5px;
}
  .times{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    flex-wrap: wrap;
  }
  .book-img-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: 5px;
  }
  .book-wrap-main:hover{
    background-color: #006edc;
    color: white;

  }

  .book-wrap-main:hover button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 3px;
    width: 170px;
    height: 35px;
    font-size: medium;
    font-weight: 600;
    background: #fff;
    color: #006edc;
  }

  .book-wrap-main{
    margin: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    /* background-color: #094675; */
    color: #1087ff;
    border-radius: 8px;
    width: 180px;
    height: 320px;
    /* -webkit-box-shadow: 0px 15px 28px -18px rgba(179,179,179,1);
    -moz-box-shadow: 0px 15px 28px -18px rgba(179,179,179,1);
    box-shadow: 0px 15px 28px -18px rgba(179,179,179,1); */
    box-shadow: 0px 0px 15px 18px rgba(245,240,240,0.75);
-webkit-box-shadow: 0px 0px 15px 18px rgba(245,240,240,0.75);
-moz-box-shadow: 0px 0px 15px 18px rgba(245,240,240,0.75);
  }
  .book-img{
    width: 140px;
  }
  .book-wrap-main-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
  }
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
  }
  .wrappest{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
  }
  .book-wrap-main:active{
    background-color: #006edc;
  }
  .book-butt{
    margin: 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    width: 120px;
    height: 30px;
    font-size: medium;
    font-weight: 500;
    background: #006edc;
    color: white;
  }
 
  .book-foot-butt{
    display: none;
    transition:  0.5s ease;
  }
  .booking-butt{
    margin: 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    width: 170px;
    height: 30px;
    font-size: small;
    font-weight: 500;
    background: #006edc;
    color: white;
  }
  .bookInfo{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    height: 100vh;
    background-color: #006edc;
  }
.booking-deets{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  height: 75%;
  /* box-shadow: 0px 0px 15px 18px rgba(245,240,240,0.75);
-webkit-box-shadow: 0px 0px 15px 18px rgba(245,240,240,0.75);
-moz-box-shadow: 0px 0px 15px 18px rgba(245,240,240,0.75); */
}
/* .booking-deets-img-wrap{
  width: 360px;
  height: 360px;
} */
.booking-deets-img{
  width: 100%;
  height: 100%;
}
.docs-deets-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
}
.docs-deets{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: start;
  flex-wrap: wrap;
  gap: 10px
}
.docs-deets-h{
  color: #0D3859;
}
.docs-deets p{
  font-weight: 500;
  color: #006edc;
  max-width: 400px;
}
.about-deets{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}