.interest-wrap{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.int-text{
    line-height: 30px;
}
.int-text p{
    color: #0d3859;
    width: 450px;
}
.int-text h3{
    color: #0d3859;
}
.int-text h1{
    color: #006edc;
}
.int-text button{
    background-color: #006edc;
    color: white;
    outline: none;
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
    font-size: small;
}